<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.reserve.dao.ReserveMapper">
	<!-- 예약COUNT -->
	<select id="reserveRowCount" resultType="integer">
		SELECT COUNT(*) FROM reserve r JOIN member m ON r.mem_num = m.mem_num
	</select>
	<!-- 예약 목록 -->
	<select id="reserveList" parameterType="map" resultType="reserveVO">
		SELECT * 
		FROM (SELECT a.*, rownum rnum 
		      FROM (SELECT *
		            FROM reserve r 
		            JOIN member m 
		            ON r.mem_num=m.mem_num 
		            JOIN room ro
		            ON ro.roo_num = r.roo_num
		            JOIN accommdation a
		            ON a.acc_num = ro.acc_num
		            ORDER BY r.rsv_num DESC)a)
		<![CDATA[WHERE rnum >= #{start} AND rnum <= #{end}]]>
	</select>
	
	<!-- 예약 취소  -->
	<update id="reserveCancel" parameterType="reserveVO">
		UPDATE reserve SET
			rsv_state = #{rsv_state}
		WHERE rsv_num = #{rsv_num} 
	</update>
	
	<!-- mypage 예약 목록 -->
	<select id="memReserveList" parameterType="map" resultType="reserveVO">
	    SELECT * 
	    FROM(SELECT a.*, rownum rnum
		    FROM(SELECT * 
			    	 FROM reserve r 
		            JOIN member m 
		            ON r.mem_num=m.mem_num 
		            JOIN room ro
		            ON ro.roo_num = r.roo_num
		            JOIN accommdation a
		            ON a.acc_num = ro.acc_num
		            WHERE r.mem_num = #{mem_num}
		            ORDER BY r.rsv_num DESC)a)
	     <![CDATA[
		WHERE (rnum >= ${start} AND rnum <= ${end})
		]]>
	</select>
	
	<!-- mypage 결제 목록 -->
	<select id="memPaymentList" parameterType="map" resultType="paymentVO">
	    SELECT * 
	    FROM(SELECT a.*, rownum rnum
		    FROM(SELECT * 
			    	 FROM payment p 
		            JOIN reserve r 
		            ON p.rsv_num=r.rsv_num 
		            JOIN member m
		            ON r.mem_num = m.mem_num
		            JOIN room ro
		            ON ro.roo_num = r.roo_num
		            JOIN accommdation a
		            ON a.acc_num = ro.acc_num
		            WHERE r.mem_num = #{mem_num}
		            ORDER BY p.pay_num DESC)a)
	     <![CDATA[
		WHERE (rnum >= ${start} AND rnum <= ${end})
		]]>
	</select>

</mapper>