<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.trvboard.dao.TrvBoardMapper">
	<!-- 총 레코드 수 -->
	<select id="selectRowCount" resultType="integer">
		SELECT
			COUNT(*)
		FROM trv_board t
		JOIN member m
		ON t.mem_num = m.mem_num
	</select>
	<!-- 글 목록 -->
	<select id="selectList" parameterType="map" resultType="trvBoardVO">
		SELECT			
			*			
		FROM (SELECT		
				a.*,
				rownum rnum
		 	  FROM(SELECT
		 	  			t.trv_num,
		 	  			<![CDATA[
		 	  			REPLACE(REPLACE(t.trv_title,'<','&lt;'),'>','&gt;') trv_title,
		 	  			]]>
		 	  			t.trv_intro,
		 	  			t.trv_local,
		 	  			t.trv_date,
		 	  			t.trv_uploadfile1,
		 	  			t.trv_filename1,
		 	  			m.mem_num
		 	  		 FROM trv_board t
		 	  		 JOIN member m
		 	  		 ON t.mem_num=m.mem_num
		 	  		 ORDER BY t.trv_num DESC)a)
		 	  <![CDATA[
		 	  WHERE rnum >= #{start} AND rnum <= #{end}
		 	  ]]>	
	</select>
	<!-- 글 수정 -->
<update id="updateTrvBoard" parameterType="trvBoardVO">
		UPDATE trv_board SET
		<if test="trv_filename1 != ''">
		trv_uploadfile1=#{trv_uploadfile1},
		trv_filename1=#{trv_filename1},
		</if>
		<if test="trv_filename2 != ''">
		trv_uploadfile2=#{trv_uploadfile2},
		trv_filename2=#{trv_filename2},
		</if>
		<if test="trv_filename3 != ''">
		trv_uploadfile3=#{trv_uploadfile3},
		trv_filename3=#{trv_filename3},
		</if>
		<if test="trv_filename4 != ''">
		trv_uploadfile4=#{trv_uploadfile4},
		trv_filename4=#{trv_filename4},
		</if>
		<if test="trv_filename5 != ''">
		trv_uploadfile5=#{trv_uploadfile5},
		trv_filename5=#{trv_filename5},
		</if>
		trv_cate=#{trv_cate},
		trv_title=#{trv_title},
		trv_local=#{trv_local},
		trv_place=#{trv_place},
		trv_intro=#{trv_intro},
		trv_call=#{trv_call},
		mem_num=#{mem_num},
		trv_date=SYSDATE
	WHERE trv_num=#{trv_num}
	</update>
 </mapper>







